.table-footer {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    align-items: center;
    justify-content: start;
    font-size: 18px;
}
.table-footer > div {
    padding: 0px 10px;
}
.price-col,
.quantity-col {
    border-left: 1px solid #d3d3d3;
    color: #1677ff;
    margin-left: -3%;
}
